<div>Person Edit</div>
<p>{{ person.nameFull }}</p>

<form name="form" novalidate class="simple-form css-form">
    ID: {{ person.id }}<br />
    
    Full Name:  <input type="text"  ng-model="person.name_full"  name="person_name_full" required /><br />
    <div ng-show="form.person_name_full.$dirty && form.person_name_full.$invalid">Invalid:
        <span ng-show="form.person_name_full.$error.required">Full Name is required.</span>
    </div>
    
    First Name: <input type="text"  ng-model="person.name_first" /><br />
    Last Name:  <input type="text"  ng-model="person.name_last"  /><br />
    
    Email: <input type="email" ng-model="person.email" name="person_email" required /><br />
    <div ng-show="form.person_email.$dirty && form.person_email.$invalid">Invalid:
        <span ng-show="form.person_email.$error.required">Email is required.</span>
        <span ng-show="form.person_email.$error.email">This is not a valid email.</span>
    </div>
    
    AYSO Fed: 
        <input type="text" ng-model="person.getFedAYSOV().role" size="8" readonly />
        <input type="text" ng-model="person.getFedAYSOV().id"/>
        <select 
            ng-model="person.getFedAYSOV().verified"    
            ng-options="obj.value as obj.content for obj in verifiedOptions"
        ></select>
    <br />
    AYSO Region: 
        <input type="text" ng-model="person.getOrgRegionAYSO().id"   size="4" readonly />
        <input type="text" ng-model="person.getOrgRegionAYSO().role" size="8" readonly />
        <input type="text" ng-model="person.getOrgRegionAYSO().org_id" />
        <select 
            ng-model="person.getOrgRegionAYSO().mem_year"    
            ng-options="obj.value as obj.content for obj in orgAYSOMemYearOptions"
        ></select>
        <select 
            ng-model="person.getOrgRegionAYSO().verified"    
            ng-options="obj.value as obj.content for obj in verifiedOptions"
        ></select>
    <br />
    
    AYSO Referee: 
        <input type="text" ng-model="person.getCertRefereeAYSO().id"   size="4" readonly />
        <input type="text" ng-model="person.getCertRefereeAYSO().role" size="8" readonly />
        <select 
            ng-model="person.getCertRefereeAYSO().badge"    
            ng-options="obj.value as obj.content for obj in certRefereeAYSOBadgeOptions"
        ></select>
        <select 
            ng-model="person.getCertRefereeAYSO().badgex"    
            ng-options="obj.value as obj.content for obj in certRefereeAYSOBadgeOptions"
        ></select>
        <select 
            ng-model="person.getCertRefereeAYSO().upgrading"    
            ng-options="obj.value as obj.content for obj in upgradingOptions"
        ></select>
        <select 
            ng-model="person.getCertRefereeAYSO().verified"    
            ng-options="obj.value as obj.content for obj in verifiedOptions"
        ></select>
    <br />
    
    AYSO Safe Haven: 
        <input type="text" ng-model="person.getCertSafeHavenAYSO().id"   size="4" readonly />
        <input type="text" ng-model="person.getCertSafeHavenAYSO().role" size="8" readonly />
        <select 
            ng-model="person.getCertSafeHavenAYSO().badge"    
            ng-options="obj.value as obj.content for obj in certSafeHavenAYSOBadgeOptions"
        ></select>
        <select 
            ng-model="person.getCertSafeHavenAYSO().verified"    
            ng-options="obj.value as obj.content for obj in verifiedOptions"
        ></select>
    <br />
    
    <button ng-click="reset()" ng-disabled="isUnchanged(person)">RESET</button>
    <button ng-click="update(person)" ng-disabled="form.$invalid || isUnchanged(person)">SAVE</button>

</form>

 <style type="text/css">
    .css-form input.ng-invalid.ng-dirty {
      background-color: #FA787E;
    }
  
    .css-form input.ng-valid.ng-dirty {
      background-color: #78FA89;
    }
</style>


