<!DOCTYPE html>
<html ang="en" ng-app="ceradApp">
    <head>
        <title>ANG1</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% javascripts
            '@CeradAngBundle/Resources/public/vendor/angular/angular.js'
            '@CeradAngBundle/Resources/public/vendor/angular/angular-route.js'
            '@CeradAngBundle/Resources/public/vendor/angular/angular-resource.js'

            '@CeradAngBundle/Resources/public/js/app.js'
            '@CeradAngBundle/Resources/public/js/services.js'
            '@CeradAngBundle/Resources/public/js/controllers.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <h3>Twig Index</h3>
        <a href="#welcome">Welcome</a>
        <a href="#games">Games</a>
        <a href="#persons">Persons</a>
        
        <div ng-view></div>
    </body>
</html>

